/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* 브라우저 기본 여백 제거 (천장에 딱 붙게 만듦) */
body {
  margin: 0;
  padding: 0;
  display: block; /* 중요: flex나 grid가 있으면 안 됨 */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* 부모가 꽉 차야 자식이 가운데 정렬됨 */
}
